@font-face {
    font-family: 'B Yekan';
    src: url(./../fonts/yekan.ttf);
    src: url(./../fonts/yekan.otf);
}

@font-face {
    font-family: 'B Koodak Bold';
    src: url(./../fonts/koodak.ttf);
    src: url(./../fonts/koodak.otf);
}

.y {
    font-family: 'B Koodak Bold' !important;
    /* display: flex;
    align-items: center;
    font-size: 100%;
    max-width: 85%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center */
}
.break {
    flex-basis: 100%;
    height: 0;
  }

.center_rasoul{
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-9%, -50%) !important;
    padding: 10px !important;
}